  .artistes-container-page {
      border: none;
      border-radius: 12px;
      padding: 10px;
      margin: 7px;
      display: flex;
      flex-wrap: wrap;
      background: rgb(131, 58, 180);
      background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 253, 235, 1) 50%, rgba(252, 69, 202, 1) 100%);
      justify-content: space-around;
      align-content: space-around;
  }
  .artistes-hover:hover{
    background-color: rgba(224, 218, 218, 0.74);
    border-radius: 12px;
  }