@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
 font-family: 'Times New Roman', Times, serif;
}

:root {

  --TEXT-COLOR: #aa9c9c;/*this is also button color*/
  --TEXT-HOVER-COLOR:#e7dddd;
  --HEADLINE-COLOR: #5c5a5a;
  --HEADLINE-FONT-WEIGHT:900;
  --HEADLINE-FONT-SIZE:40px;
  
  --HEADLINE1-COLOR: #7b7b7b;
  --HEADLINE1-FONT-WEIGHT:700;
  --HEADLINE1-FONT-SIZE:35px;

  --HEADLINE2-COLOR: #8a8686;
  --HEADLINE2-FONT-WEIGHT:550;
  --HEADLINE2-FONT-SIZE:25px;

  padding: 10px;
  /* margin: 15px; */
}


.container {
  text-align: center;
  margin-top: 50px;
}

.headline1 {
  color: var(--HEADLINE-COLOR);
  font-size: var(--HEADLINE-FONT-SIZE);
  font-weight: var(--HEADLINE-FONT-WEIGHT);
}

.headline2 {
  color: var(--HEADLINE1-COLOR);
  font-size: var(--HEADLINE1-FONT-SIZE);
  font-weight: var(--HEADLINE1-FONT-WEIGHT);
}

.headline3 {
  color: var(--HEADLINE2-COLOR);
  font-size: var(--HEADLINE2-FONT-SIZE);
  font-weight: var(--HEADLINE2-FONT-WEIGHT);
}

.btn-type1 {
  display: flexbox;
  padding: 10px 20px;
  margin: 10px;
  background-color: #3f96f3;
  color: var(--TEXT-COLOR);
  font-size: large;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-type1:hover {
  background-color: #2788ef;
}

.btn-type1:active {
  background-color: #2686ec;
}

.btn-type1:focus {
  outline: none;
}



.btn-type2 {
  display: inline-grid;
  padding: 10px 20px;
  margin: 10px;
  justify-content: space-around;
  background-color: #3f96f3;
  color: var(--TEXT-COLOR);
  font-size: large;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-type2:hover {
  background-color: #2788ef;
}

.btn-type2:active {
  background-color: #2686ec;
}

.btn-type2:focus {
  outline: none;
}

.place{
  place-content: end;
}

.btn-type3 {
  display: inline;
  padding: 10px 20px;
  color: var(--TEXT-COLOR);
  font-size: 2.4rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-type3:hover {
  background-color: var(--TEXT-HOVER-COLOR);
}

.btn-type3:active {
  background-color: var(--TEXT-HOVER-COLOR);
}

.btn-type3:focus {
  outline: none;
}

.btn-type8 {
  display: flex;
  margin: 10px;
  padding: 10px;
  color: var(--TEXT-COLOR);
  font-size: 100%;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn-type8:hover {
  background-color: var(--TEXT-HOVER-COLOR);
}

.btn-type8:active {
  background-color: var(--TEXT-HOVER-COLOR);
}

.btn-type8:focus {
  outline: none;
}

.input{
  font-size: x-large;
  color: var(--TEXT-COLOR);
  display: inline-flex;
  padding: '5px';
  margin:'10px';
  border-radius: '7px';
  width: '2rem';
  height: '35px';
  border: '0px solid var(--TEXT-COLOR)';
}

.input:focus{
  outline: none;
}


/* Style for the img element */
img {
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}



/* .navbar{
  height: 330px;
  background: var(--HEADLINE-COLOR);
  color: rgb(220, 220, 220);
  padding: 5px 2rem;
  display: inline-grid;
  position: sticky;
  align-content: space-around;
  width: 170px;
  top: 0;
  border-radius: 7px;
} */


.navbar{
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


/* MyNavbar */
.navhead{
  border: none;
  border-radius: 12px;
  background-color: #f5f54fa8;
  display: flex;
  padding: 7px;
  margin: 7px;
  justify-content: space-between;
  align-items: flex-end;
}

.Appname{
  font-size: 80px;
  padding: 5px;
  color: azure;
}

.nav-link{

}
.nav-link1{
  display: flex;
}

/*Footer*/
.footbar{
  border: none;
  border-radius: 12px;
  background-color: #f5f54fa8;
  display: flex;
  padding: 7px;
  justify-content: space-around;
}



/* ArtistesPage */

/* .title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.description {
  font-size: 16px;
  color: #666;
} */

.artistes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artistes-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

.artistes-container p {
  text-align: center;
  margin-top: 5px;
  color: #333;
  font-weight: bold;
}

.AiOutlineLoading{
  animation: spin 1s linear infinite;
}
@keyframes AiOutlineLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}






/* CSS Style for SongList Component */

/* Container */

.Container {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
.Heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Loading Animation */
.AiOutlineLoading {
  margin: 20px auto;
  display: block;
}

/* Error Message */
.ErrorMessage {
  color: red;
  margin-bottom: 20px;
}

/* Song List */
.SongList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

/* Individual Song */
.ArtisteSong {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Empty Song List Message */
.Empty-Song-List-Message {
  color: #999;
  margin-bottom: 20px;
}

.flex-card{
  display: inline-flex;
}

.flex-card2 {
  display: inline-flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.text {
  text-align:center;
  bottom:20px;
  margin-bottom: -50px;
  padding-bottom: -50px;
  /* margin-bottom: -5px; */
  color: #888585;
  font-weight: bold;
}


/* Music Player
.MusicPlayer {
  margin-top: 20px;
}
 */









/* ArtisteSong */
 .songlist {
  margin: 10px;
  padding: 10px;
  /* border-radius: 7px; */
  display: inline-block;
  /* background-color: rgb(111, 108, 102); */
  color: rgb(47, 45, 45);
  /* min-width: auto;
  height: auto; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

/* .songlistimg {
  border:none;
  border-radius: 7px;
  width: 100px;
  height: 100px;
} */





.songlist {
  /* margin: 10px;
  padding: 10px;
  border-radius: 7px;
  display: inline-block;
  background-color: rgb(111, 108, 102);
  color: rgb(47, 45, 45);
  min-width: auto;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */

  margin: 10px;
  padding: 10px;
  /* border-radius: 7px; */
  display: inline-block;
  /* background-color: rgb(111, 108, 102); */
  color: rgb(47, 45, 45);
  /* min-width: auto;
  height: auto; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */

}

.songlistimg {
  border:none;
  border-radius: 7px;
  width: 100px;
  height: 100px;
}

.songlistText {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.songlistText:hover {
  cursor: pointer;
}

.btn-type4 {

  /* text-align: center;
  top: -70px;
  position: relative;
  display: inline-grid;
  margin-bottom: 20px;
  background: none;
  color: var(--TEXT-COLOR);
  border: none;
  border-radius: 7px;
  cursor: pointer; */

  /* position: relative;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  bottom: 82px;
  margin-bottom: 20px;
  background: none;
  color: var(--TEXT-COLOR);
  border: none;
  border-radius: 7px; */

  position: relative;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  bottom: 161px;
  margin-bottom: 20px;
  background: none;
  color: var(--TEXT-COLOR);
  border: none;
  border-radius: 7px;


  /* position: relative;
  padding: 10px 20px;
  top: -155px;
  border: none;
  border-radius: 7px;
  color: darkgray;
  background: transparent; */

}

.btn-type4:hover {
  background-color: #635e5e;
}

.playingText {
  text-align: center;
  font-weight: bold;
  color: #ff4d4d;
}


.btn-type5{
  /* position: relative;
  right: 60px;
  bottom: 30px;
  display: inline;
  padding: 10px 20px;
  color: var(--TEXT-COLOR);
  font-size: 1.8rem;
  border: none;
  border-radius: 7px;
  cursor: pointer; */


  position: relative;
  right: 75px;
  bottom: 95px;
  display: inline;
  padding: 5px 15px;
  color: var(--TEXT-COLOR);
  font-size: 1.8rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: transparent;

}

.btn-type5:hover{
  background-color: #635e5e;
}


.btn-type6{
  /* display: contents; */
  color: var(--TEXT-COLOR);
  font-size: 1.4rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn-type6:hover{
  background-color: #edacac;
}


.btn-type7{
  display: "inline";
  margin: "7px";
  padding: "0px 10px";
  color: "gray";
  font-size: "1.4rem";
  border: "none";
  border-radius: "7px";
  cursor: "pointer";
}
.btn-type7:hover{
  background-color: #edacac;
}







textarea {
  /* padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999; */

  padding: 3px;
  font-size: small;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px #999;
}

textarea:hover{
  border: none;
}


.text1{
  display: inline-flex;
  color: #9c9898;
  font-size: 18px;
  padding: 8px;
  margin: 8px;
  border-radius: 7px;
  border: none;
}

.text1:hover{
  background-color: #555555;
  
}

ul {
  list-style-type:none;
}




















/* //    Style for the h1 element
    .headTag {
        color: blue;
        font-size: 24px;
        text-align: center;
    }

//    Style for the p element
    .paraTag {
        color: red;
        font-size: 18px;
        text-align: center;
    }

//    Style for the img element
    img {
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

//    Style for the div elements
    div {
        margin-bottom: 20px;
        padding: 10px;
        background-color: lightgray;
    } */