.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .description {
    font-size: 16px;
    color: #666;
  }
  
  .artistes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .artistes-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
  }
  
  .artistes-container p {
    text-align: center;
    margin-top: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  