.songlist {
  /* margin: 10px;
  padding: 10px;
  border-radius: 7px;
  display: inline-block;
  background-color: rgb(111, 108, 102);
  color: rgb(47, 45, 45);
  min-width: auto;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */

  margin: 10px;
  padding: 10px;
  /* border-radius: 7px; */
  display: inline-block;
  /* background-color: rgb(111, 108, 102); */
  color: rgb(47, 45, 45);
  /* min-width: auto;
  height: auto; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */

}

.songlistimg {
  border:none;
  border-radius: 7px;
  width: 100px;
  height: 100px;
}

.songlistText {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.songlistText:hover {
  cursor: pointer;
}

.playButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.playButton:hover {
  background-color: #ff3333;
}

.playingText {
  text-align: center;
  font-weight: bold;
  color: #ff4d4d;
}