.playlist-headline1 {
    color: var(--HEADLINE-COLOR);
    font-size: var(--HEADLINE-FONT-SIZE);
    font-weight: var(--HEADLINE-FONT-WEIGHT);
    padding: 10px;
  }
  
  
  .playlist-headline2 {
    color: var(--HEADLINE1-COLOR);
    font-size: var(--HEADLINE1-FONT-SIZE);
    font-weight: var(--HEADLINE1-FONT-WEIGHT);
    padding: 10px;
  }

.playlist-headline3{
    color: var(--HEADLINE2-COLOR);
    font-size: var(--HEADLINE2-FONT-SIZE);
    font-weight: var(--HEADLINE2-FONT-WEIGHT);
    padding: 12px 0px 0px 12px;
}


.btn{
    display: flex;
    justify-content: center;
}
.container-dashboard-button-type {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 12px;
    display: block;
    border: none;
  }
  .container-dashboard-button-type:hover {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .container-dashboard-button-type:active {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .container-dashboard-button-type:focus {
    cursor: pointer;
    outline: none;
  }