@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: 0.3s;
}

:root {

  --ERROR-COLOR:rgb(226, 58, 58);
  --SUCCESS-COLOR:rgb(20, 238, 20);

  --APP-TEXT-COLOR:#F1F17D;/*App name*/
  --BACKGROUND-COLOR:#f5f54fa8;
  --BACKGROUND-HOVER-COLOR:#e1ff00c4;

  --TEXT-COLOR: #aa9c9c;
  --TEXT-HOVER-COLOR:#f0efacc4;
  
  --HEADLINE-COLOR: #5c5a5a;
  --HEADLINE-FONT-WEIGHT:900;
  --HEADLINE-FONT-SIZE:40px;
  
  --HEADLINE1-COLOR: #7b7b7b;
  --HEADLINE1-FONT-WEIGHT:700;
  --HEADLINE1-FONT-SIZE:35px;

  --HEADLINE2-COLOR: #8a8686;
  --HEADLINE2-FONT-WEIGHT:550;
  --HEADLINE2-FONT-SIZE:25px;

  padding: 10px;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.headline1 {
  color: var(--HEADLINE-COLOR);
  font-size: var(--HEADLINE-FONT-SIZE);
  font-weight: var(--HEADLINE-FONT-WEIGHT);
  padding: 10px;
}
.headline2 {
  color: var(--HEADLINE1-COLOR);
  font-size: var(--HEADLINE1-FONT-SIZE);
  font-weight: var(--HEADLINE1-FONT-WEIGHT);
  padding: 10px;
}
.headline3 {
  color: var(--HEADLINE2-COLOR);
  font-size: var(--HEADLINE2-FONT-SIZE);
  font-weight: var(--HEADLINE2-FONT-WEIGHT);
  padding: 10px;
}

/*Register*/
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 10px;
}
.label {
  display: block;
  margin-bottom: 5px;
  font-size: 27px;
  color: gray;

}
.error {
  text-align: center;
  color: var(--ERROR-COLOR);
  margin-top: 10px;
}
.success {
  text-align: center;
  color: var(--SUCCESS-COLOR);
  margin-top: 10px;
}

.inside-container{
  display: inline-block;
}


/*artistes-page*/
.profile-container{
  margin: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.profile-container{
  margin: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  background: rgb(116,116,126);
  background: linear-gradient(90deg, rgba(116,116,126,1) 0%, rgba(61,143,112,1) 46%, rgba(0,212,255,1) 95%);}



.flex-card-playlist {
  display: flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: rgb(129 120 120 / 26%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.flex-card-playlist:hover{
  background-color: rgb(129 120 120 / 45%);
}


/*Register*/
.formparant{
  display: flex;
  height: 80vh;
  width: auto;
  justify-content: center;
}


.form{
  margin: 0px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  background-color: rgba(255, 255, 255, 0.13);
  /* transform: translate(-50%, -50%); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  flex-direction: column;
}

.div{
  height: 2.5cm;
    width: fit-content;
    padding: 11px;
    margin: 20px;
}

.place{
  place-content: end;
}

.input{
  font-size: 20px;
  color: #7e7474;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  height: 50px;
  width: max-content;
  background-color: #b0aaed5e;
  border: none;
}

.input:active{
  background-color: #a9a9a970;
  border: 1px;
}
.input:focus{
  background-color: #a9a9a970;
  border: 1px;
}

.button-div{
  display: flex;
  justify-content: center;
}

.button{
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 100%;
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  display: block;
  border: none;

}

.button:hover {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.btn-type1 {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;

}

.btn-type1:hover {
  background-color: #0056b3;
}
.btn-type1:active {
  background-color: #0056b3;
}
.btn-type1:focus {
  outline: none;
}



.btn-type2 {
  display: inline-grid;
  padding: 10px 20px;
  margin: 10px;
  justify-content: space-around;
  background-color: #3f96f3;
  color: var(--TEXT-COLOR);
  font-size: large;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn-type2:hover {
  background-color: #2788ef;
}
.btn-type2:active {
  background-color: #2686ec;
}
.btn-type2:focus {
  outline: none;
}


.btn-type3 {
  display: inline;
  padding: 10px 20px;
  color: var(--TEXT-COLOR);
  font-size: 2.4rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn-type3:hover {background-color: var(--TEXT-HOVER-COLOR);}
.btn-type3:active {background-color: var(--TEXT-HOVER-COLOR);}

.btn-type4 {
  position: relative;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  bottom: 161px;
  margin-bottom: 20px;
  background: none;
  /* color: var(--TEXT-COLOR); */
  color: #e5e5cf;
  border: none;
  border-radius: 7px;
}
.btn-type4:hover { background-color: #9ea189d9;;  }

.btn-type5{
  position: relative;
  right: 75px;
  bottom: 95px;
  display: inline;
  padding: 5px 15px;
  /* color: var(--TEXT-COLOR); */
  color: #808080ab;
  font-size: 1.8rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: transparent;
}
.btn-type5:hover{
  background-color: #ff000059;
  color: #e9d9d9;  
}

.btn-type6{
  color: var(--TEXT-COLOR);
  font-size: 1.4rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn-type6:hover{
  background-color: #edacac;
}


.btn-type7{
  display: "inline";
  margin: "7px";
  padding: "0px 10px";
  color: "gray";
  font-size: "1.4rem";
  border: "none";
  border-radius: "7px";
  cursor: "pointer";
}
.btn-type7:hover{
  background-color: #edacac;
}
.btn-type7:focus {
  outline: none;
}

.btn-type8 {
  display: flex;
  margin: 10px;
  padding: 10px;
  color: var(--TEXT-COLOR);
  font-size: 100%;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn-type8:hover {
  color: yellow;
  background-color: #1c1c08;
}
.btn-type8:active {
  color: yellow;
  background-color: #181817;
}
.btn-type8:focus {
  outline: none;
}


.btn-type9 {
  background-color: transparent;
  color: #514f4ff0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  padding: 10px 20px;
  margin: 4rem;
}
.btn-type9:hover {
  background-color: #e1ff00c4;
  color: #fff;
}
.btn-type9:active {
  background-color: #e1ff00c4;
  color: #fff;
}
.btn-type9:focus {
  outline: none;
}


.btn-type10 {
  padding: 10px 20px;
  background-color: #007bff;
  color: antiquewhite;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 100%;
}
.btn-type10:hover {
  background-color: #0d33f2;
  color: rgb(233, 233, 127);
}
.btn-type10:active {
  background-color: #0d33f2;
  color: rgb(233, 233, 127);
}
.btn-type10:focus {
  outline: none;
}

/* Style for the img element */
img {
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 150px;
  margin: 10px;
  object-fit: cover;
}


/* MyNavbar */
.navbar{
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.navhead {
  border: none;
  border-radius: 12px;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  display: flex;
  padding: 7px;
  margin: 7px;
  justify-content: space-between;
  align-items: flex-end;
}

.Appname{
  font-size: 80px;
  font-weight: bold;
  padding: 5px;
  color: #fff;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 13px;
  text-shadow: 0 0 19px #E8D;
}
.Appname:hover{
  cursor: pointer;
  color: #ffc5cc;
  text-decoration: none;
}

.nav-link1{
  display: flex;
}
.nav-link2{
  display: none;
}

/*Footer*/
.footbar{
  border: none;
  border-radius: 12px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%,rgba(238, 174, 202, 1) 100%);
  display: flex;
  padding: 7px;
  margin: 7px;
  justify-content: space-between;
  align-items: flex-end;
}



/* ArtistesPage */
.container-dashboard{
  display: flex;
  flex-direction: row;
  margin: 7rem 0rem 0rem 0rem;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.container-dashboard-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80vh;
}
.container-dashboard-button{
  display: flex;
  padding: 2rem;
  margin: 0.5rem;
  justify-content: space-evenly;
}

/* .play-all-button {
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  display: block;
  border: none;
}
.play-all-button:hover {
  cursor: pointer;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.play-all-button:active {
  cursor: pointer;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.play-all-button:focus {
  cursor: pointer;
  outline: none;
} */

.container-dashboard-button-type {
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  display: block;
  border: none;
}
.container-dashboard-button-type:hover {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.container-dashboard-button-type:active {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.container-dashboard-button-type:focus {
  cursor: pointer;
  outline: none;
}

.container-dashboard-heading-headline1{
  color: var(--HEADLINE-COLOR);
  font-size: 5rem;
  font-weight: bolder;
  padding: 2rem 0rem 0rem 0rem;  
}
.container-dashboard-heading-headline2{
  color: var(--HEADLINE1-COLOR);
  font-size: 3.5rem;
  font-weight: bold;
  padding: 2rem;
}
.container-dashboard-heading-headline3{
  font-size: 18px;
  color: #555555;
  padding: 5px;
  font-weight: 700;
  font-size: 2rem;
}

.artistes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AiOutlineLoading{
  animation: spin 1s linear infinite;
}
@keyframes AiOutlineLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Container */
/* Loading Animation */
.AiOutlineLoading {
  margin: 20px auto;
  display: block;
}

/* Error Message */
.ErrorMessage {
  color: red;
  margin-bottom: 20px;
}

/* Individual Song */
/* Empty Song List Message */
.Empty-Song-List-Message {
  color: #999;
  margin-bottom: 20px;
}

.flex-card-playlist-profile {
  display: flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: rgb(129 120 120 / 26%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* flex-direction: column; */
  align-items: center;
  cursor: pointer;
}

.songupload{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin: 11px;
  padding: 2px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px #999;
}
textarea:hover{
  border: none;
}


/*tablet*/

@media only screen and (max-width: 650px) {

  .container-dashboard-heading {
    margin: -6rem 0rem 0rem 0rem;
  }
  .container-dashboard-heading-headline1{
    padding: 1rem;
    font-size: 4rem;
  }
  .container-dashboard-heading-headline2{
    padding: 1rem;
    font-size: 3rem;
  }
  .container-dashboard-heading-headline3{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .container-dashboard-button {
    padding: 1rem;
    margin: 0rem;
  }
  .container-dashboard-button-type {
    margin: 5px;
    padding: 10px 29px;
  }



  .btn-type8{
    margin: 5px;
    padding: 10px;
    font-size: 70%;
  }
  .Appname{
    font-size: 3rem;
  }

  .headline1{
    font-size:2rem;
  }
  .headline2{
    font-size:1.5rem;
  }
  .headline3{
    font-size: 1.3rem;
  }

  .nav-link2{
    display: inline-grid;
  }

  .nav-link1{
    display: none;
  }

  .flex-card-edit{
    display: inline;
    padding: 15px;
    margin: 10px    
  }

  .btn-type10{
    display: inline;
    padding: 10px 20px;
    margin: 2rem;
  }
  .btn-type-back{
    display: inline;
    padding: 10px 20px;
    margin: 2rem;
  }
  .btn-type9 {
    display: inline;
    padding: 10px 20px;
    margin: 2rem;
  }


  img {
    width: 125px;
    height: 121px;
  }

  .input{
    font-size: larger;
  }

  .footbar{
    display: none;
  }

  .form{
    padding: 5px 5px;
  }
  .form .div {
    height: 2.0cm;
    padding: 10px;
    margin: 20px;
  }
  .form .label{
    margin-bottom: 0px;
    font-size: 20px;
  }
}



@media only screen and (max-width: 420px) {
  .container-dashboard {
    margin: 0rem;
  }
  .form .div {
    height: 2cm;
    padding: 4px;
    margin: 0px;
}
}



/*mobile*/

@media only screen and (max-width: 300px) {

  .container-dashboard-heading {
    margin: 0rem 0rem 0rem 0rem;
    height: 75vh;
  }
  .container-dashboard-heading-headline1{
    font-size: 2.5rem;
    padding: 15px;
  }
  .container-dashboard-heading-headline2{
    padding: 15px;
    font-size: 2rem;
  }
  .container-dashboard-heading-headline3{
    padding: 5px;
    font-size: 1rem;
  }
  .container-dashboard-button {
    padding: 0rem;
    margin: 0rem;
  }
  .container-dashboard-button-type {
    margin-top: 15px;
    padding: 5px 15px;
  }

  .headline1{
    font-size:medium;
  }
  .headline2{
    font-size:medium;
  }
  .headline3{
    font-size:medium;
  }

  .btn-type9 {  
    display: inline;
    padding: 10px 20px;
    margin: 5px;
  
  }


  .nav-link1{
    display: none;
  }
  .nav-link2{
    display: inline-grid;
  }
  
}

/* Container */
.Container {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  /* background-color: #f2f2f2; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgb(131, 58, 180);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  /* background-image: repeating-linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%); */
}

/* Heading */
.Heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Loading Animation */
.AiOutlineLoading {
  margin: 20px auto;
  display: block;
}



/* Individual Song */
.ArtisteSong {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flex-card{
  display: inline-flex;
  align-items: center;
}

.flex-card2 {
  display: inline-flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.text {
  text-align:center;
  bottom:20px;
  margin-bottom: -50px;
  padding-bottom: -50px;
  /* margin-bottom: -5px; */
  color: #888585;
  font-weight: bold;
  font-size: 18px;
}


.text1{
  display: inline-flex;
  color: #9c9898;
  font-size: 18px;
  padding: 8px;
  margin: 8px;
  border-radius: 7px;
  border: none;
}

.text1:hover{
  background-color: #555555;
  
}


ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type:none;
}






/*Artiste Song*/
.songlistimg {
  border:none;
  border-radius: 7px;
  width: 100px;
  height: 100px;
}

.songlistText {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.songlistText:hover {
  cursor: pointer;
}

.playButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.playButton:hover {
  background-color: #ff3333;
}

.playingText {
  text-align: center;
  font-weight: bold;
  color: #ff4d4d;
}





/*Artistes Playlist*/

.artistes-container-page {
  border: none;
  border-radius: 12px;
  padding: 10px;
  margin: 7px;
  display: flex;
  flex-wrap: wrap;
  /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
  background-image: repeating-linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  justify-content: space-around;
  align-content: space-around;
}

.artistes-hover:hover{
background-color: rgba(224, 218, 218, 0.74);
border-radius: 12px;
}




/*Editplaylist*/
.btn{
  display: flex;
  justify-content: center;
}


/*PlaylistId*/
.playlist-container {
    
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playlist-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.playlist-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.playlist-privacy {
  font-size: 14px;
  margin-bottom: 10px;
}

.playlist-songs {
  font-size: 18px;
  margin-bottom: 10px;
}

.playlist-songs-container {
  margin-top: 20px;
}
.song {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.music-player {
  margin-top: 20px;
}







/*PlaylistPage*/

.flex-card-playlist {
  display: flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: rgb(129 120 120 / 26%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.flex-card-playlist:hover{
  background-color: rgb(129 120 120 / 45%);
}


/*Register*/
.playlist-headline1 {
  color: var(--HEADLINE-COLOR);
  font-size: var(--HEADLINE-FONT-SIZE);
  font-weight: var(--HEADLINE-FONT-WEIGHT);
  padding: 10px;
}

.playlist-headline2 {
  color: var(--HEADLINE1-COLOR);
  font-size: var(--HEADLINE1-FONT-SIZE);
  font-weight: var(--HEADLINE1-FONT-WEIGHT);
  padding: 10px;
}

.playlist-headline3 {
  color: var(--HEADLINE1-COLOR);
  font-size: var(--HEADLINE1-FONT-SIZE);
  font-weight: var(--HEADLINE1-FONT-WEIGHT);
  padding: 10px;
}


.flex-card-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background: transparent;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.profile-container{
  margin: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  background: rgb(116,116,126);
  background: linear-gradient(90deg, rgba(116,116,126,1) 0%, rgba(61,143,112,1) 46%, rgba(0,212,255,1) 95%);}


.profile-edit-button{
  display: inline;
  padding: 10px 20px;
  color: gray;
  font-size: 2.4rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: transparent;
}
.profile-edit-button:hover{
  background-color: var(--TEXT-HOVER-COLOR);
  color: #f5eeeefc;
}

.delete-playlist{
  background-color: transparent;
    border: none;
    /* cursor: pointer; */
    outline: none;
    width: 30px;
    height: 30px;
    color: #555555;
    cursor: pointer;
}
.delete-playlist:hover{
  background-color: rgb(248, 120, 120);
  color: #f7f3f3fc;
}

.fav-container-page{
  border: none;
  border-radius: 12px;
  /* background: rgb(98, 237, 201); */
  background: radial-gradient(circle, rgba(127, 219, 194, 0.768) 19%, rgba(70, 109, 182, 0.944) 75%);
  display: flex;
  padding: 7px;
  margin: 7px;
  /* text-align: center; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}

.playlist-container-page-other-user {
  border: none;
  border-radius: 12px;
  background: rgb(98, 237, 201);
  background: radial-gradient(circle, rgba(98, 237, 201, 0.7679446778711485) 19%, rgba(91, 246, 129, 0.9444152661064426) 75%);
  display: flex;
  padding: 7px;
  margin: 7px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.playlist-container-page {
  border: none;
  border-radius: 12px;
  /* background: rgb(98, 237, 201); */
  background: radial-gradient(circle, rgba(98, 237, 201, 0.7679446778711485) 19%, rgba(91, 246, 129, 0.9444152661064426) 75%);
  display: flex;
  padding: 7px;
  margin: 7px;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}

.flex-card-playlist {
  display: flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: rgb(129 120 120 / 26%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.flex-card-playlist:hover{
  background-color: rgb(129 120 120 / 45%);
}


/*SongList*/
.SongList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0px;
  margin-bottom: 0px;
}

.songlist{
  margin: 10px;
  padding: 10px;
  display: inline-block;
  color: rgb(47, 45, 45);
}
