.playlist-headline1 {
  color: var(--HEADLINE-COLOR);
  font-size: var(--HEADLINE-FONT-SIZE);
  font-weight: var(--HEADLINE-FONT-WEIGHT);
  padding: 10px;
}


.playlist-headline2 {
  color: var(--HEADLINE1-COLOR);
  font-size: var(--HEADLINE1-FONT-SIZE);
  font-weight: var(--HEADLINE1-FONT-WEIGHT);
  padding: 10px;
}
.playlist-container-page-1 {
  border: none;
  border-radius: 12px;
  background: rgb(98,237,201);
  background: radial-gradient(circle, rgba(98,237,201,0.7679446778711485) 19%, rgba(91,246,129,0.9444152661064426) 75%);
  display: flex;
  flex-direction: column;
  padding: 7px;
  margin: 7px;
  justify-content: space-between;

  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.flex-card-playlist {
  display: flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: rgb(129 120 120 / 26%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.flex-card-playlist:hover{
  background-color: rgb(129 120 120 / 45%);
}






.headTag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .paraTag {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .container {
    margin-top: 20px;
  }
  
  .container .divdiv {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container .divdiv .divpara {
    font-size:larger;
    text-decoration: none;
    color: #333;
  }
  
  .container .divdiv .divpara:hover {
    color: #666;
  }
  
  .container .divdiv .divpara {
    font-weight: bold;
  }
  
  .container .divdiv .divpara:last-child {
    margin-top: 5px;
    font-weight: normal;
  }