.playlist-headline1 {
  color: var(--HEADLINE-COLOR);
  font-size: var(--HEADLINE-FONT-SIZE);
  font-weight: var(--HEADLINE-FONT-WEIGHT);
  padding: 10px;
}


.playlist-headline2 {
  color: var(--HEADLINE1-COLOR);
  font-size: var(--HEADLINE1-FONT-SIZE);
  font-weight: var(--HEADLINE1-FONT-WEIGHT);
  padding: 10px;
}

.profile-container{
  margin: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.flex-card-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background: transparent;
}


.profile-container{
  margin: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 12px;
  background: rgb(116,116,126);
  background: linear-gradient(90deg, rgba(116,116,126,1) 0%, rgba(61,143,112,1) 46%, rgba(0,212,255,1) 95%);}


.profile-edit-button{
  display: inline;
  padding: 10px 20px;
  color: gray;
  font-size: 2.4rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: transparent;
}
.profile-edit-button:hover{
  background-color: var(--TEXT-HOVER-COLOR);
  color: #f5eeeefc;
}

.delete-playlist{
  background-color: transparent;
    border: none;
    /* cursor: pointer; */
    outline: none;
    width: 30px;
    height: 30px;
    color: #555555;
    cursor: pointer;
}
.delete-playlist:hover{
  background-color: rgb(248, 120, 120);
  color: #f7f3f3fc;
}

.fav-container-page{
  border: none;
  border-radius: 12px;
  /* background: rgb(98, 237, 201); */
  background: radial-gradient(circle, rgba(127, 219, 194, 0.768) 19%, rgba(70, 109, 182, 0.944) 75%);
  display: flex;
  padding: 7px;
  margin: 7px;
  /* text-align: center; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;

}


.playlist-container-page {
  border: none;
  border-radius: 12px;
  /* background: rgb(98, 237, 201); */
  background: radial-gradient(circle, rgba(98, 237, 201, 0.7679446778711485) 19%, rgba(91, 246, 129, 0.9444152661064426) 75%);
  display: flex;
  padding: 7px;
  margin: 7px;
  /* text-align: center; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}


.flex-card-playlist {
  display: flex;
  padding: 20px;
  margin: 20px;
  width: auto;
  background-color: rgb(129 120 120 / 26%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.flex-card-playlist:hover{
  background-color: rgb(129 120 120 / 45%);
}


