.SongList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0px;
  margin-bottom: 0px;
}

.songlist{
  argin: 10px;
    padding: 10px;
    display: inline-block;
    color: rgb(47, 45, 45);
}

