.song-title{
    font-size: 22px;
    color: #0b1010ab;
    font-weight: bold;
}
.song-artiste {
    /* text-align: center; */
    font-size: 18px;
    /* bottom: 20px; */
    /* margin-bottom: -50px; */
    padding-bottom: -50px;
    /* margin-bottom: -5px; */
    color: #888585;
    font-weight: bold;
}
.isplaying{
    position: relative;
    bottom: 149px;
    background: none;
    color: #839d9bc7;
    border: none;
}
