.base {
  position: sticky;
  bottom: 0px;
  border: none;
  border-radius: 12px;
  display: flex;
  background-color: #f2f2f221;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.song-title {
  font-size: 22px;
  color: #0b1010ab;
  font-weight: bold;
}

.song-artiste {
  font-size: 18px;
  padding-bottom: -50px;
  color: #888585;
  font-weight: bold;
}

.track-button {
  display: flex;
  padding: 2px;
  margin: 5px;
}

.track-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-bottom: 20px; */
  margin-bottom: 0px;

}

.music-text {
  margin: 0;
  font-size: 18px;
  color: #555555;
}
.text {
  margin: 0;
  font-size: 18px;
  color: #555555;
}

.music_img {
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: cover;
}

.title {
  display: flex;
  align-items: center;
}
.vol-title{
  display: flex;
  padding-right: 50px;
}

.music_bnt{
  background-color: transparent;
  width: 70px;
  height: 30px;
  cursor: pointer;
  border: none;
  margin: 3px;
  color: darkslategray;
}

.music_bnt:hover{
  color: rgb(238, 80, 80);
  margin-left: 5px;
  margin-right: 5px;
}


input[type="range"] {
  --range-progress: 50%;
  width: -webkit-fill-available;
}

input[type="range"]::before {
  /* ... */
  background: rgb(156, 150, 147);
  width: var(--range-progress);
  /* ... */
}

.like{
  color: #555555;
  cursor: pointer;
  padding: 1px;
  margin: 1px;
}

.like:hover{
  color:red;
  cursor: pointer;
  
}

@media only screen and (max-width: 300px) {
  .like{
    display: none;
  }  
  .range{
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .input[type="range"] {
    /* width: 50%; */
    display: none;
  }
  .music_bnt{
    width: 36px;
    margin: 3px;
  }
}
.range::-webkit-slider-runnable-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}
  
.range::-moz-range-track {
  background: var(--bar-bg);;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}
  
.range::-moz-focus-outer {
  border: 0;
}
  
.range::before {
  content: '';
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
  
.range::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}
  
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}
  
.range:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
  
.range::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}
  
.range:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}