.base {
  
  /* position: sticky;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  position: sticky;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.track-button {
  /* display: inline-block;
  width: 137%; */
  display: inline-block;
  width: 100%;

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; */
}

/* .btn-type6 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
} */

.track-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-bottom: 20px; */
  margin-bottom: 0px;

}

.music-text {
  margin: 0;
  font-size: 18px;
  color: #555555;
}
.text {
  margin: 0;
  font-size: 18px;
  color: #555555;
}

.music_title {
  /* display: flex;
  align-items: center;
  margin-bottom: 20px; */

  display: flex;
  align-items: center;
  /* margin-bottom: 8px; */
  margin-bottom: -4px;

}

.music_title img {
  /* width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px; */
  width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 11px;
}

.title {
  display: flex;
  align-items: center;
}
.vol-title{
  display: flex;
  margin-bottom: 0px;
  padding-right: 50px;
  align-items: center;
  justify-content: center;
}

.btn-type6 svg {

  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  width: 30px;
  height: 30px;
  color: #555555;
  cursor: pointer;
  margin-right: 10px;
}

.btn-type6:last-child {
  margin-right: 0;
}


input[type="range"] {
  --range-progress: 50%;
  /* ... */
}

input[type="range"]::before {
  /* ... */
  background: rgb(156, 150, 147);
  width: var(--range-progress);
  /* ... */
}



.like{
  width: 15px;
  height: 15px;
  color: #555555;
  cursor: pointer;
}

.like:hover{
  color:red;
  cursor: pointer;
  
}

@media only screen and (max-width: 300px) {
  .like{
    display: none;
  }
  .music_title img {
    display: none;
  }
  .range{
    display: none;
  }
}



/* .base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.track-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-type5 {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.btn-type5:hover {
  background-color: #666;
  color: white;
}

.track-range {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
  color: #333;
}

.music_title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.music_title img {
  width: 100px;
  height: 100px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title button {
  font-size: 16px;
  color: #333;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.title button:hover {
  color: #666;
} */












/* 
.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 3px;
    background-color: #5d6d7e;
    color: #e5e7e9;
    width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 7px;


//    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 5.7rem;
    width: auto;
    padding: 10px;
    background-color: #5d6d7e;
    color: #e5e7e9;
    border: none;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    position: sticky;
//
  }
  
  .music_title {
//    display: flex;
    align-items: center;
//    padding-left: 7px;
    display: inline-block
  }


  .text{
    text-align: center;
//    bottom: 20px;
//    margin-bottom: -50px;
    color: #888585;
    font-weight: bold;
  }
  
  .track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .track-button {
//    display: flex;
    justify-content: space-between;
//    width: 100%;
    display: inline-flex;
  }
  
  .track-range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  input[type="range"] {
    width: 100%;
  }
  
  
//  Media query for screens with width below 500px
  @media (max-width: 500px) {
    .base {
      flex-wrap: wrap;
      height:40px;
    }
    .title {
      display: none;
    }
    .track {
      display: block;
      width: 100%;
      padding-top: 10px;
      height:40px;
    }
  }




  .btn-type5{


    position: relative;
    right: 60px;
    bottom: 30px;
    display: inline;
    padding: 0px;
    margin: 0px;
    color: var(--TEXT-COLOR);
    font-size: 1.8rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;

    display: inline-grid;
    padding: 5px;
    margin: 2px;
    color: var(--TEXT-COLOR);
    font-size: 1.8rem;
    cursor: pointer;
    align-items: center;

  }
  
  .btn-type5:hover{
    color: #a46464;
  }









  .audioPlayer {
    --primary: #f40082;
    --secondary: #ffd200;
  
    align-items: center;
    display: flex;
    width: 700px;
  }  
  .range {
    --bar-bg: #ffe3d4;
    --seek-before-width: 0;
    --seek-before-color: #ffc2a1;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;
  
    appearance: none;
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  } */
  
 /* // progress bar - safari */
  .range::-webkit-slider-runnable-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
 /* // progress bar - firefox */
  .range::-moz-range-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
  .range::-moz-focus-outer {
    border: 0;
  }
  
 /* // progress bar - chrome and safari */
  .range::before {
    /* content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer; */

    content: '';
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
  }
  
 /* // progress bar - firefox */
  .range::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
  }
  
  /* //knobby - chrome and safari */
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;

    /* content: '';
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer; */

  }
  
 /* // knobby while dragging - chrome and safari */
  .range:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }
  
  /* //knobby - firefox */
  .range::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
  
/* //  knobby while dragging - firefox */
  .range:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }