/* .songlist{
  margin:3px;
  padding:4px;
  border-radius:7px;
  display:inline-block;
  background-color:rgb(111, 108, 102);
  color: rgb(47, 45, 45);
  min-width:auto;
  height:auto;
}


.songlistimg{
  border-radius:7px;
}
.songlistText{
  text-align: center;
  padding:0px;
  margin:1px;
} */